/* Estilo para el título principal */
h1 {
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilo para el segundo título */
  h2 {
    color: green;
    font-size: 20px;
    text-align: center;
  }
  
  /* Estilo para el input */
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  /* Estilos para los párrafos condicionales */
  div p {
    color: red;
  }
  
  /* Estilos para el botón */
  button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  /* Estilos para la lista */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilos para los elementos de la lista */
  li {
    margin-bottom: 8px;
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  footer {
    background-color: #a49898; /* Color de fondo del footer */
    color: #f4eeee; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
  }
  
  .footer-content {
    max-width: 960px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
  }
  
  .footer-content p {
    margin: 5px 0; /* Espaciado entre párrafos */
    color: white;
  }
  
  